include includes/vars.pug
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    title 1971
    meta(name='description' content='1971 P.E. is a limited edition streetwear line and an experiment to see if it is possible to materially support our friends being locked up and...')
    meta(name='keywords', content='1971,P.E.,streetwear,NYC,NY,New York')
    link(rel='stylesheet', type='text/css', href='styles.css')
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' href='/favicon-32x32.png' sizes='32x32')
    link(rel='icon' type='image/png' href='/favicon-16x16.png' sizes='16x16')
    link(rel='manifest' href='/manifest.json')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#000000')
    meta(name='theme-color' content='#ffffff')

    // Twitter
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:site' content='@wearebrujas')
    meta(name='twitter:creator' content='@wearebrujas')
    meta(name='twitter:title' content='1971')
    meta(name='twitter:description' content='1971 P.E. is a limited edition streetwear line and an experiment to see if it is possible to materially support our friends being locked up and...')
    meta(name='twitter:image' content='http://1971.nyc/images/1971.png')
    meta(property='twitter:image:alt' content='1971 Logo')

    // Facebook
    meta(property='og:image' content='http://1971.nyc/images/1971.png')
    meta(property='og:title' content='1971')
    meta(property='og:description' content='1971 P.E. is a limited edition streetwear line and an experiment to see if it is possible to materially support our friends being locked up and...')
    meta(property='og:url' content='http://1971.nyc')
    meta(property='og:site_name' content='1971')
    meta(property='og:type' content='website')

    // Google Analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-91781552-4', 'auto');
      ga('send', 'pageview');
  body
    .page
      video#bgvid(poster='https://ksr-ugc.imgix.net/assets/013/761/803/82224e082286846f791db08ca160eaa7_original.png?w=1552&h=873&fit=fill&bg=000000&v=1476200772&auto=format&q=92&s=272c1926033bee7c9ada3dd9f983f182', playsinline='', autoplay='', muted='', loop='')
        source(src='https://ksr-video.imgix.net/projects/2641739/video-713751-h264_high.mp4', type='video/mp4')
      .nav
        img.logo(src='images/1971.png', alt='1971 logo ')
        .bottom.scrollMore
      .content-container
        .content
          .content__panel.content__blurb.fullGap
            p
              | !{missionCopy}
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_1.jpg', alt='1971')
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_2.jpg', alt='1971')
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_3.jpg', alt='1971')
          .content__panel.content__img.halfGap
            img.tilt-img(src='images/1971_4.jpg', alt='1971')
          .content__panel.content__blurb.halfGap
            h1 Meet The Team
            p
              | !{teamCopy}
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_5.jpg', alt='1971')
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_6.jpg', alt='1971')
          .content__panel.content__img.halfGap
            img.tilt-img(src='images/1971_7.jpg', alt='1971')
          .content__panel.content__blurb.halfGap
            h1 Design
            p
              | !{designCopy}
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_8.jpg', alt='1971')
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_9.jpg', alt='1971')
          .content__panel.content__img.halfGap
            img.tilt-img(src='images/1971_10.jpg', alt='1971')
          .content__panel.content__blurb.halfGap
            h1 How Did We Do It?
            p
              | !{howCopy}
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_11.jpg', alt='1971')
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_12.jpg', alt='1971')
          .content__panel.content__img.halfGap
            img.tilt-img(src='images/1971_13.jpg', alt='1971')
          .content__panel.content__blurb.halfGap
            h1 Acclaim
            p
              | !{acclaimCopy}
          .content__panel.content__img.halfGap
            img.tilt-img(src='images/1971_14.jpg', alt='1971')
          .content__panel.content__blurb.halfGap
            h1 How Can I Cop the Look?
            p
              | Soon, friend. Keep checking back. Follow 
              a(href='https://www.instagram.com/1971streetwear/', title='1971', target='_blank') 1971 on instagram
              | .
            p
              | Subscribe for updates:
            #mc_embed_signup
              form(action=mailingListAction, method='post', id='mc-embedded-subscribe-form', name='mc-embedded-subscribe-form', class='validate', target='_blank', novalidate)
                #mc_embed_signup_scroll
                  .mc-field-group
                    input(type='email' value='' name='EMAIL' class='required email' id='mce-EMAIL' placeholder='Email')
                  div(id='mce-responses' class='clear')
                    div(class='response' id='mce-error-response' style='display:none')
                    div(class='response' id='mce-success-response' style='display:none')
                  div(style='position: absolute; left: -5000px;' aria-hidden='true')
                    input(type='text' name='b_658947fbe4cdb0299caf1fd3c_766e6e6170' tabindex='-1' value='')
                  div(style='position: absolute; left: -5000px;')
                    input(type='submit' value='' id='mc-embedded-subscribe' class='button')
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_15.jpg', alt='1971')
          .content__panel.content__blurb.site-by-oob
            p
              | site by 
              a(href='http://outof.business', target='_blank') outof.business
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='scripts/index.js')
    script(src='scripts/unveil.js')
