include includes/vars.pug
doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    title 1971
    link(rel='stylesheet', type='text/css', href='styles/styles.css')
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' href='/favicon-32x32.png' sizes='32x32')
    link(rel='icon' type='image/png' href='/favicon-16x16.png' sizes='16x16')
    link(rel='manifest' href='/manifest.json')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#000000')
    meta(name='theme-color' content='#ffffff')
  body
    .page
      video#bgvid(poster='https://ksr-ugc.imgix.net/assets/013/761/803/82224e082286846f791db08ca160eaa7_original.png?w=1552&h=873&fit=fill&bg=000000&v=1476200772&auto=format&q=92&s=272c1926033bee7c9ada3dd9f983f182', playsinline='', autoplay='', muted='', loop='')
        source(src='https://ksr-video.imgix.net/projects/2641739/video-713751-h264_high.mp4', type='video/mp4')
      .nav
        img.logo(src='images/1971.png', alt='1971 logo ')
        .bottom.scrollMore
      .content-container
        .content
          .content__panel.content__blurb.fullGap
            p
              | !{missionCopy}
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_1.jpg', alt='1971')
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_2.jpg', alt='1971')
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_3.jpg', alt='1971')
          .content__panel.content__img.halfGap
            img.tilt-img(src='images/1971_4.jpg', alt='1971')
          .content__panel.content__blurb.halfGap
            h1 The Team
            p
              | !{teamCopy}
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_5.jpg', alt='1971')
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_6.jpg', alt='1971')
          .content__panel.content__img.halfGap
            img.tilt-img(src='images/1971_7.jpg', alt='1971')
          .content__panel.content__blurb.halfGap
            h1 Design
            p
              | !{designCopy}
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_8.jpg', alt='1971')
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_9.jpg', alt='1971')
          .content__panel.content__img.halfGap
            img.tilt-img(src='images/1971_10.jpg', alt='1971')
          .content__panel.content__blurb.halfGap
            h1 How Did We Do It?
            p
              | !{howCopy}
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_11.jpg', alt='1971')
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_12.jpg', alt='1971')
          .content__panel.content__img.halfGap
            img.tilt-img(src='images/1971_13.jpg', alt='1971')
          .content__panel.content__blurb.halfGap
            h1 Acclaim
            p
              | !{acclaimCopy}
          .content__panel.content__img.halfGap
            img.tilt-img(src='images/1971_14.jpg', alt='1971')
          .content__panel.content__blurb.halfGap
            h1 How Can I Cop the Look?
            p
              | Soon, friend. Keep checking back.
          .content__panel.content__img.fullGap
            img.tilt-img(src='images/1971_15.jpg', alt='1971')
          .content__panel.content__blurb.site-by-oob
            p
              | site by 
              a(href='http://outof.business', target='_blank') outof.business
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='scripts/index.js')
    script(src='scripts/unveil.js')
